body {
	width: 100%;
	height: 100%;
	display:block;
	background-image: url('../images/alumniwoods.jpg');
	font-family: 'Lato',Helvetica, sans-serif;
}



body #title {
	font-size: 220px;
    margin-top: 1%;
    margin-bottom: .1%;
 	color: #f2f2f2;
    margin-left:10%;
    font-weight:300;
    position:relative;

}

.topdiv img {
float: right;
margin-right: 12%;
position: relative;
margin-top: 1%;
z-index: 10;

}



.abovecal {
	width:80%;
	margin-left:10%;
	height:225px;
	background-color: #0F1742;
	opacity: .7;
	position:absolute;
	
}

.belowcal {
width: 18%;
margin-left: 72%;
height: 182px;
background-color: #0F1742;
opacity: .7;
position: absolute;
float: right;
height: 720px;

	
}





.description p {
width: 16%;
color: #e6e6e6;
font-size: 20px;
position: absolute;
margin-top: 19%;
font-weight: 500;
margin-left: 73.5%;
line-height:2;
}



#back {
float: right;
color: white;
position: relative;
font-size: 1.3em;
margin-right: 2%;
text-decoration: underline;
z-index: 10;
margin-top: 4.6%;

}

#back:hover {
	color:#ffe680;
}

#calendarTitle {
	display:none;
}


iframe {
	margin-left: 10%;
	margin-top:.7%;
}


/* MEDIA QUERIES */

@media (max-width: 1196px) {

	body #title {
    font-size: 200px;
}

.belowcal {
    width: 22%;
    margin-left: 71%;

    }

    .description p {
    width: 18%;
    margin-top:23%;

}

@media (max-width: 1048px) {

	body #title {
    font-size: 160px;
}

.abovecal {
	height:150px;
}
.belowcal {
	float:none;
    height: 160px;
    margin-top: 52%;
    margin-left:10%;
    width:80%;
}

    .description p {

    margin-top: 54%;
    margin-left: 12%;
    width:78%;
    line-height:2;

}

@media (max-width: 1006px) {

.belowcal {
	margin-top:56%;
}

 .description p {
 	margin-top:61%;
}

@media (max-width: 937px) {

.belowcal {
	margin-top:65%;
}

 .description p {
 	margin-top:69%;
}

@media (max-width: 820px) {

body #title {
    font-size: 120px;
    padding-top: 18%;
}

.belowcal {
	margin-top:70%;
}

.description p {
	margin-top:75%;
}
}

@media (max-width: 757px) {


.belowcal {
	margin-top:78%;
}

.description p {
	margin-top:83%;
}
}

@media (max-width: 671px) {

.abovecal {
	height:130px;
}

body #title {
    font-size: 100px;
  }

.belowcal {
	margin-top:78%;
}

.description p {
	font-size:1.2em;
}
}


@media (max-width: 567px) {

body #title {
  	padding-top:28%;
  }

.belowcal {
	margin-top:100%;
}

.description p {
	margin-top:107%;
	font-size:1.1;
}

.belowcal {
	height:190px;
}

}

@media (max-width: 457px) {


.belowcal {
	margin-top:110%;
}

.description p {
	margin-top:115%;
	font-size:1.12em;

}


}

@media (max-width: 405px) {

body #title {
	padding-top:38%;
}
.belowcal {
	margin-top:110%;
}

.belowcal {
	margin-top:134%;
}

.description p {
	margin-top:141%;
	font-size:1em;

}

@media (max-width: 355px) {

body #title {
	padding-top:44%;
	font-size:95px;
}

.abovecal {
	height:110px;
}


@media (max-width: 1920px) {

 body #title {
	font-size: 350px;

} 

}






