body {
	width: 100%;
	height: 100%;
	display:block;
	background-image: url('../images/alumniwoods.jpg');
	font-family: 'Lato',Helvetica, sans-serif;
}



body #title {
	font-size: 220px;
    margin-top: 1%;
    margin-bottom: .1%;
 	color: #f2f2f2;
    margin-left:10%;
    font-weight:300;
    position:relative;

}

.topdiv img {
float: right;
margin-right: 12%;
position: relative;
margin-top: 1%;
z-index: 10;

}



.abovecal {
	width:80%;
	margin-left:10%;
	height:225px;
	background-color: #0F1742;
	opacity: .7;
	position:absolute;
	
}

.belowcal {
width: 18%;
margin-left: 72%;
height: 182px;
background-color: #0F1742;
opacity: .7;
position: absolute;
float: right;
height: 720px;

	
}





.description p {
width: 17%;
color: #e6e6e6;
font-size: 20px;
position: absolute;
margin-top: 19%;
font-weight: 500;
margin-left: 73.5%;
line-height:2;
}



#back {
float: right;
color: white;
position: relative;
font-size: 1.3em;
margin-right: 2%;
text-decoration: underline;
z-index: 10;
margin-top: 4.6%;

}

#back:hover {
	color:#ffe680;
}

#calendarTitle {
	display:none;
}


iframe {
	margin-left: 10%;
	margin-top:.7%;
}


/* MEDIA QUERIES */


/*
@media (max-width: 1339px) {

	.belowcal {
	
	height:175px;

}

	}

	@media (max-width: 1250px) {

.decription p{
	font-size:18px;

}

.belowcal {
	
	height:160px;

	}
}


@media (max-width: 1149px) {

.decription p{
	font-size:16px;

}

body #title {
	font-size:200px;
}

.abovecal {
	height:150px;
}



}


@media (max-width: 891px) {



iframe {
	width: 80%;
}

}


@media (max-width: 891px) {

.decription p{
	font-size:14px;

}

.belowcal {
	
	height:1450px;

	}
}


	} /*