body {
	width: 100%;
	height: 100%;
	display:block;
	background-image: url('../images/alumniwoods.jpg');
	font-family: 'Lato',Helvetica, sans-serif;
}



body #title {
	font-size: 230px;
    margin-top: 1%;
    margin-bottom: .1%;
 	color: #f2f2f2;
    margin-left:10%;
    font-weight:300;
    position:relative;

}

.topdiv img {
	float:right;
	margin-right:11%;
	position:relative;

}



.abovecal {
	width:80%;
	margin-left:10%;
	height:162px;
	background-color: #0F1742;
	opacity: .7;
	position:absolute;
	
}



.description p {
	width:80%;
	color: #e6e6e6;
	font-size:1.2em;
	position:relative;
	margin-top:1.5%;
	font-weight:300;
	margin-left:10.5%;
}



#back {
	float:right;
	color:white;
	position:relative;
	font-size:1.1em;
	margin-top:3.5%;
	margin-right:2%;
	text-decoration: underline;
	z-index:10;

}

#back:hover {
	color:#ffe680;
}

#calendarTitle {
	display:none;
}


iframe {
	margin-left: 10%;
}


/* MEDIA QUERIES */

@media (max-width: 1149px) {

.decription p{
	font-size:1em;

}

body #title {
	font-size:200px;
}

.abovecal {
	height:150px;
}

}


@media (max-width: 891px) {



iframe {
	width: 80%;
}

}