body {
	width: 100%;
	height: 100%;
	display:block;
	background-image: url('../images/alumniwoods.jpg');
	font-family: 'Lato',Helvetica, sans-serif;
}



body #title {
	font-size: 220px;
    margin-top: 1%;
    margin-bottom: .1%;
 	color: #f2f2f2;
    margin-left:10%;
    font-weight:300;
    position:relative;

}

.topdiv img {
	float:right;
	margin-right:11%;
	position:relative;
	margin-top:2%;
	z-index:10;

}



.abovecal {
	width:80%;
	margin-left:10%;
	height:225px;
	background-color: #0F1742;
	opacity: .7;
	position:absolute;
	
}

.belowcal {
	width:80%;
	margin-left:10%;
	height:182px;
	background-color: #0F1742;
	opacity: .7;
	position:absolute;
	margin-top:2%;

	
}





.description p {
	width:80%;
	color: #e6e6e6;
	font-size:20px;
	position:relative;
	margin-top:10%;
	font-weight:500;
	margin-left:11%;
}



#back {
	float:right;
	color:white;
	position:relative;
	font-size:1.1em;
	margin-right:2%;
	text-decoration: underline;
	z-index:10;
	margin-top:5.6%;

}

#back:hover {
	color:#ffe680;
}

#calendarTitle {
	display:none;
}


iframe {
	margin-left: 10%;
	margin-top:.7%;
}


/* MEDIA QUERIES */

@media (max-width: 1339px) {

	.belowcal {
	
	height:175px;

}

	}

	@media (max-width: 1250px) {

.decription p{
	font-size:18px;

}

.belowcal {
	
	height:160px;

	}
}


@media (max-width: 1149px) {

.decription p{
	font-size:16px;

}

body #title {
	font-size:200px;
}

.abovecal {
	height:150px;
}



}


@media (max-width: 891px) {



iframe {
	width: 80%;
}

}


@media (max-width: 891px) {

.decription p{
	font-size:14px;

}

.belowcal {
	
	height:1450px;

	}
}


	}