body {
	width: 100%;
	height: 100%;
	display:block;
	background-image: url('../images/alumniwoods.jpg');
	font-family: 'Lato', Helvetica, sans-serif;
}




body #title {
	font-size: 80px;
    font-family: 'Londrina Outline', sans-serif;
    margin-top: 1%;
    margin-bottom: 1%;
 	color:white;
    margin-left:10%;


}

#title{
	margin-top: -50%;
	position:relative;
}

#facebook {
	
	float: right;
	margin-right: 5%;
	margin-top: 2%;
}


.description {
	width:100%;
	height:20%;
	float:left;
	margin-left:10%;
	display:inline-block;
	position:relative;
}

.abovecal {
	width:80%;
	margin-left:10%;
	height:200px;
	background-color: #556B2F;
	opacity: .4;
	position:absolute;
	
}

.topdiv img {
	float:right;
	margin-right:11%;
	margin-top:1%;
	position:relative;
	z-index: 500;
}

.description p {
	width:80%;
	height: 100%;
	color:white;
	font-size:1.2em;
	position:relative;
	
}


.homeicon {
	display:inline-block;
	float: right;
	z-index: 1000;
	height: 80px; 
    margin-top: 1%;
    margin-right: 3%;
}

#calendarTitle {
	display:none;
}


iframe {
	margin-left: 10%;
}


/* MEDIA QUERIES */

@media (max-width: 891px) {



iframe {
	width: 100%;
}

#rightpanel {

	width: 100%;
	height: 332px;
}

#rightpanel img {
	width: 50%;
	object-fit:cover;
	float: left;
	height: 332px;
}

#rightpanel p {
    width: 40%;
    margin-right: 3%;
    font-size: 22px;
    float: right;
}

#facebook img{

	height: 60px;
	
}

.homeicon {

	height: 60px; 
 
}

body #title {
	font-size: 60px;
}


}

@media (max-width: 716px) {

	body #title {
	font-size: 55px;


	}

	.homeicon {

	height: 55px; 
 
}

#facebook img{

	height: 55px;
	
}

}


@media (max-width: 689px) {

iframe {
	width: 100%;
	height: 500px;
}

#rightpanel img {
	width: 50%;
	object-fit:cover;
	float: left;
	height: 332px;
}

#rightpanel img {
	width: 100%;
	height: 200px;
}

#rightpanel p {
    width: 100%;
    font-size: 18px;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 0%;
}




	}


	@media (max-width: 629px) {

		body #title {
	font-size: 50px;

}
	.homeicon {

	height: 50px; 
 
}

#facebook img{

	height: 50px;
	
}



	}


	@media (max-width: 584px) {

		body #title {
	font-size: 35px;

}

.homeicon {

	height: 30px; 


	}

	#facebook img {

	height: 30px;
	
}

#rightpanel p {
    font-size: 15px;

}

#rightpanel {
	width: 98%;
}

}



