body {
	width: 100%;
	height: 100%;
	display:block;
	background-image: url('../images/alumniwoods.jpg');
	/*font-family: 'Lato', Helvetica, sans-serif;*/
}




body #title {
	font-size: 70px;
    /*font-family: 'Lato',Helvetica, sans-serif;*/
    margin-top: 1%;
    margin-bottom: 1%;
 	color: #f2f2f2;
    margin-left:10%;
    font-weight:300;


}

#title{
	margin-top: -50%;
	position:relative;
}

.topdiv img{
	
	float: right;
	margin-right: 5%;
	
}


.description {
	height:20%;
	float:left;
	margin-left:10%;
	display:inline-block;
	position:relative;
}


.abovecal {
	width:80%;
	margin-left:10%;
	height:200px;
	background-color: #0F1742;
	opacity: .4;
	position:absolute;
	
}

.topdiv img {
	float:right;
	margin-right:11%;
	margin-top:1%;
	position:relative;
	z-index: 500;
}

.description p {
	width:80%;
	height: 100%;
	color: #e6e6e6;
	font-size:1.2em;
	position:relative;
	margin-top:.5%;
	font-weight:300;
	
}



#home {
	float:right;
	color:white;
	position:relative;
	font-size:1.1em;
	margin-top:3.5%;
	margin-right:2%;
	text-decoration: underline;

}

#back:hover {
	background-color:#ffe680;
}

#calendarTitle {
	display:none;
}


iframe {
	margin-left: 10%;
}


/* MEDIA QUERIES */

@media (max-width: 891px) {



iframe {
	width: 100%;
}

#rightpanel {

	width: 100%;
	height: 332px;
}

#rightpanel img {
	width: 50%;
	object-fit:cover;
	float: left;
	height: 332px;
}

#rightpanel p {
    width: 40%;
    margin-right: 3%;
    font-size: 22px;
    float: right;
}

#facebook img{

	height: 60px;
	
}



body #title {
	font-size: 60px;
}


}

@media (max-width: 716px) {

	body #title {
	font-size: 55px;


	}


#facebook img{

	height: 55px;
	
}

}


@media (max-width: 689px) {

iframe {
	width: 100%;
	height: 500px;
}

#rightpanel img {
	width: 50%;
	object-fit:cover;
	float: left;
	height: 332px;
}

#rightpanel img {
	width: 100%;
	height: 200px;
}

#rightpanel p {
    width: 100%;
    font-size: 18px;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 0%;
}




	}


	@media (max-width: 629px) {

		body #title {
	font-size: 50px;

}
	

#facebook img{

	height: 50px;
	
}



	}


	@media (max-width: 584px) {

		body #title {
	font-size: 35px;

}


	

	#facebook img {

	height: 30px;
	
}

#rightpanel p {
    font-size: 15px;

}

#rightpanel {
	width: 98%;
}

}



