

body {
	font-family: 'Lato',Helvetica,sans-serif;
	font-weight: 700;
	height: 100%;
	width: 100%;
	font-size: 16px;

}


header {
	overflow: auto;
  width: 100%;

  }




nav {
  width: 100%;
  right:0;

	position: absolute;
  text-align: center;
  margin-top: 50%;
  padding-left: 0;
  margin-left: 5%;
 }



#orange {
  color: #ff6600;
}

.retreat {
  margin-left:-15%;
}

.cavalieroutdoor {
  margin-left: -6%;
}

nav li {
  color: #0F1742;
  text-decoration: none;
  font-family: 'Lato',Helvetica,sans-serif;
  font-weight: 400;
   padding: 1%;
   font-size: 20px;
    margin-right: 6%;
    display: inline;
    vertical-align: middle;
    line-height: 90%;
}


nav li:hover {
text-decoration: underline;
padding: 1%;


}


nav a {
  text-decoration: none;
  color:white;
  font-size: 1.2em;

}

nav  a:hover {
    color: white;
    text-decoration: none;
}


#coarbox {
    font-size: 4em;
    text-align: center;
    position: absolute;
    color: white;
    font-family: 'Lato',Helvetica,sans-serif;
    margin-top: 12%;
    font-weight:500;
} 

/*Burger menu nav*/

#hiddendiv {
  position: absolute;
  right: 0;
  width: 20%;
  height: 30%;
  background-color: #0F1742;
  margin-top:5.3%;
  visibility: hidden;
  z-index:100;
}

#hiddendiv li{
  text-decoration: none;
  list-style-type: none;
  font-size: 1.2em;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 300;
  margin-top:3%;
  color:white;
  z-index: 100;
  padding-left: 10%;

}


#burger {
  display:none;
}

#burger:hover {
  background-color: red;
}

#hiddendiv a {
  color:white;
}

#hiddendiv li:hover {
  text-decoration: underline;

}



.aboutcontainer {
  width: 100%;
  height: 100%;

}
				  

.aboutcoar {
	width: 100%;
	padding-top: 1%;
  position: relative;
  background-color: #F0F1EC;
}


.COARtext {
  font-size:11em;
  color: #0F1742;
  padding-top: 3%;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight:300;
  margin-left: 12%;

}


/*Diamond css*/

.diamond, .diamond div {
  overflow: hidden;
  width: 250px;
  height: 250px;
  border: solid white 2px;

}

.diamond {
  transform: rotate(45deg) translateY(10px);
  margin-left: 20%;
}

.diamond .diam1 {
  width: 355px;
  height: 355px;
  transform: rotate(-45deg) translateY(-74px);
}

.diamond .diam1 img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.hiking, .hiking div {
  overflow: hidden;
  width: 250px;
  height: 250px;
  border: solid white 2px;
}

.hiking {
  transform: rotate(45deg) translateY(10px);
  margin-left: 20%;
}

.hiking .hike {
  width: 355px;
  height: 355px;
  transform: rotate(-45deg) translateY(-74px);
}





	


#longdescription {
	color:#0F1742;
	margin-left: 5%;
	font-size: 1.6em;
    z-index: 1;
    font-family: 'Lato', Helvetica, sans-serif;
    position: absolute;
    left: 40%;
    top: 0;
    margin-top: 12%;
    padding-right: 14%;
    font-weight: 500;

}

#call {
  color: #ff6600;
  text-decoration: underline;
}



/* Three boxes */

#calltoaction {
	background-color: #0F1742;
	overflow:hidden;
}

.action {
  height: 22em;
  width: 28.33333%;
  float: left;
  margin-left: 4%;  
  margin-top: 15%;
  margin-bottom:15%;
  font-size: 1em;
  color:white;
  text-decoration: none;
  background-repeat: no-repeat;
background-position: center center;
background-size: cover;
 
}

.action a{
  color:white;
}

.action a:hover {
  color:white;
}

.text {
  font-size: 1.7em;
  height: 90%;
  width: 90%;
  margin: auto;
  margin-top: 2.5%;

 
}

#heading {
  padding-top: 15%;
  text-align: center; 
  font-family: 'Lato',Helvetica,sans-serif;
  font-weight:400;
  text-shadow:
    -1px -1px 0 rgba(15, 23, 66, .5),
    1px -1px 0 rgba(15, 23, 66, .5),
    -1px 1px 0 rgba(15, 23, 66, .5),
    1px 1px 0 rgba(15, 23, 66, .5);  
}


#action1{
	
background-image: url('../images/uva.jpg');

}

#action2 {

background-image: url('../images/rock_scramble.jpg');

}

#action3{

background-image: url('../images/outdoor rec.jpg');

}

#hidden {
position:absolute;
-webkit-transform: scale(0);
transform: scale(0);
  font-size: .5em;
  width: 16%;
  text-align: center;
  margin-left:4%;
  margin-top: 1%;
  line-height: 20px;
 
}

.text #hidden {
  color: white;
  text-decoration: none;
  font-family: 'Lato',Helvetica,sans-serif;
  font-weight:400;
}


#coloredtext {
	text-decoration: underline;
	text-decoration-color: #ff3300;
}


#hidden {
-webkit-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;

}

.action:hover #hidden {
 -webkit-transform: scale(1.3);
transform: scale(1.3);


}



.action:hover .text{
	  border: solid #FFF 4px;
	  background-color:  rgba(15, 23, 66, .5);
}




/* End of Three boxes */


/* Testimonial CSS */

.section-heading {
  color:#0F1742;
  text-decoration:underline;
}

#testimonials {
  margin-bottom: 4%;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size:15px;
  font-weight:500;
}


#about {
  margin-bottom:50px;
}

.lovecoar {
  margin-bottom:4%;
}

#testimonialpic {
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
  
}
.testimonialtext {
  margin-top: 5%;
  color: #0F1742;
  text-align: left;
  border-left: black solid 1px;
  padding-left: 2%;
}
/* End of Testimonial CSS */


/* Polaroid CSS */



*, *:before, *:after {
  box-sizing: border-box;
}



.polaroidcontainer {
 font-family: "Rock Salt", sans-serif;
  font-size: 1em;
  line-height: 1.6;
  min-width: 100%;
  min-height: 550px;
  position: relative;
  background-image: url("../images/woodenfence2.jpg");
  background-size: cover;
}

.polaroid {
  width: 300px;
  height: 360px;
  background: #FFF;
  left: 10%;
  top: 15%;
  background: -webkit-linear-gradient(330deg, #fff, #DDD 60%);
  background: linear-gradient(120deg, #fff, #DDD 60%);
  box-shadow: 2px -2px 20px 0px rgba(0, 0, 0, 0.6), inset 4px 5px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
  position: absolute;


}
.polaroid:nth-child(1) {
  left: 10%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}
.polaroid:nth-child(2) {
  left: 28%;
  top: 20%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}


.polaroid:nth-child(3) {
  left: 48%;
  top: 10%;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.polaroid:nth-child(4) {
  left: 68%;
  top: 10%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.polaroid-img {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 280px;
  height: 280px;
}
.polaroid-img img {
  width: 100%;
  z-index: -1;
}

.gloss {
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(330deg, rgba(255, 255, 255, 0.6), transparent 30%, rgba(0, 0, 0, 0.5) 99%);
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.6), transparent 30%, rgba(0, 0, 0, 0.5) 99%);
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.polaroid:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.polaroid {
	-webkit-transition: -webkit-transform .15s linear;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

/*End of Polaroid CSS */



.itinerarypic {
  height: 150px;
  border-radius: 50%;
  margin: auto;
  object-fit: cover;

}

#about h2{
  font-size:2.6em;
  margin-top:4%;
  margin-bottom:5%;
  font-family: 'Lato', Helvetica, sans-serif;
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}

.footsteps {
    position: absolute;
    opacity:.1;
}


.img-circle {
  border-radius:20%;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}

.timeline > li .timeline-image h4 {
  font-size: 14px;
  margin-top: 8px;
  line-height: 14px;
  color: #0F1742;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
  margin-bottom:5%;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
  font-size:23px;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
  font-weight:500;
  font-size:16px;
  color: #404040;
}


/*bottom Contact Info CSS */
.contactinfo {
  width:100%;
  height:260px;
  background-color:#0F1742;
  color: #bfbfbf;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight:400;
  font-size: 1.2em;
  position:absolute;
}


.contactinfo p {
  margin-left:1%;
}

.contactinfo img {
  width:350px;
  height:240px;
  float: right;
  margin-right:8%;
  margin-top:1%;
}

.contactheading {
  font-size:2em;
  padding-top:1%;

}


.contacttext {
  font-size: 1.1em;

}


.contact {
  margin-top:3%;
}

#websitedesign {
  margin-top:3.5%;
  color:#999999;
}

.contactdiv {
  width:100%
  height:auto;
  margin-left:3%;
  border-left: solid #F0F1EC 2px;
  margin-top:1%;
}

/* End of Contact Info CSS */

/*timeline media queries */

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 30px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;

  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

/* MEDIA QUERIES */

@media (max-width: 1404px) {
  nav ul {
    margin-left: 6%;
  }
}

@media (max-width: 1388px) {
  nav ul {
    margin-left: 6%;
  }
    nav a {
      font-size: 1em;
    }
  
}

@media (max-width: 1250px) {
   .hiking {
    margin-left: 15%;
}

  .diamond {
    margin-left: 15%;
  }

  .COARtext {
    margin-left: 8%;
  }
    
}


@media (max-width: 1148px) {

  nav a {
    font-size: .9em;
  }

  nav ul {
    margin-left: 3%;
  }

}


@media (max-width: 1116px) {
  #coarbox {
   font-size:4.5em;

}

}

@media (max-width: 1100px) {


     .polaroid {
  width: 200px;
  height: 250px;

}

.polaroid-img {
  width: 180px;
  height: 200px;

  }

   #longdescription {
    font-size:1.3em;
    margin-left: 6%;
  }




}




}

@media (max-width: 1095px) {
   #coarbox { 
    font-size: 4.1em;
}
}


@media (max-width: 1094px) {
  #coarbox {
   font-size: 3.9em;

  }

  .diamond, .diamond div { 
    width:200px;
    height: 200px;
      
  }

  .hiking, .hiking div {
     width:200px;
    height: 200px;

  }
 .aboutcoar h1 {
    font-size:8em;
  }

  #hidden {
    font-size: .4em;
  }


}

@media (max-width: 1041px) {

  nav a {
    font-size: .8em;
  }

  }

@media (max-width: 940px) {

#burger {
    display:block;
    right: 0;
    position: absolute;
    z-index: 100;
  }

  #hiddendiv {
  height: 22%;
}

nav li{
  display:none;
}


}

@media (min-width: 940px) {

  #hiddendiv {
    display:none !important;
  }

}






@media (max-width: 872px) {
  #coarbox {
   font-size: 3.5em;

  }

  #longdescription {
    font-size:1.2em;
    margin-left: 6%;
  }

   #hidden {
    font-size: .35em;
  }

}

@media (max-width: 841px) {
  .diamond, .diamond div { 
    width:150px;
    height: 150px;
      
  }

  .hiking, .hiking div {
     width:150px;
    height: 150px;

  }
 .aboutcoar h1 {
    font-size:7em;
  }
  #longdescription {
    font-size:1em;
    margin-left: 6%;
  }

  .polaroid {
  width: 200px;
  height: 250px;

}

.polaroid-img {
  width: 180px;
  height: 200px;

  }

  #day {
    bottom: -22px;
  }
}


@media (max-width: 818px) {
  #hiddendiv li {
   font-size: 1em; }

 }


@media (max-width: 785px) {
  #coarbox {
   font-size:3em;

}



#exploreheading {
  font-size: 3em;
  padding-top: 8%;
}

.action {
  height: 22em;
  padding: 0;
  width: 70.33333%;
  float: none;
  margin:none;
  margin-left: 12%;
 

}

#hidden {
  width: 30%;
  margin-left:16%;
  font-size:.4em;
}

#hiddendiv {
  margin-top: 6%;
}


.text {
  color: white;
    font-size: 1.7em;
    font-family: 'Lato', Helvetica, sans-serif;

}

.polaroid {
  width: 140px;
  height: 180px;

}

.polaroid-img {
  width: 120px;
  height: 140px;

  }

  .polaroidcontainer {
    min-height:430px;
  }

  #day {
    bottom: -22px;
    font-size: .6em;
  }

}

@media (max-width: 780px) {
  .footsteps {
    width:100%;
    height:1000px;
  }



  .contactinfo img {
  width:260px;
  height:220px;

}

.contacttext {
  font-size:1em;
}





}

@media (max-width: 702px) {



  #coarbox {
   font-size:2.5em;

}
  .COARtext {
    margin-left: 3%;
  }

  .aboutcoar h1 {
    font-size: 5em;
  }

  .diamond{
    margin-left: 20%;
  }

  .diamond, .diamonddiv { 
    width:100px;
    height: 100px;
    margin-left: 15%;
      
  }

  .hiking, .hiking div {
     width: 100px;
    height:  100px;

  }

  .diamond .diam1 img {
  width: 100%;
  height: 200px;

}
#longdescription {
  margin-top: 3%;
  margin-left:0%;
  font-size: 1.1em;
}

#hiddendiv {
  margin-top:7%;
}

.contactinfo {
  height:240px;
}

.contactheading {
  font-size:1.5em;
}

.contactinfo img {
  width:250px;
  height:200px;

}

}

@media (max-width: 620px) {
.contactinfo {
  height:220px;
}
}

@media (max-width: 614px) {
  #longdescription {
  margin-top: 3%;
  font-size: .9em;

}

#hiddendiv {
  margin-top:8%;
}


#hiddendiv {
  font-size: .9em;
}



.contactheading {
  height:1.2em;
}

.contactinfo img {
  width:200px;
  height:160px;

}

.contacttext {

  font-size:.9em;

}



}

@media (max-width: 557px) {
 #coarbox {
  font-size: 1.7em;
 }

  .diamond, .diamond div { 
    width:80px;
    height: 80px;
    margin-left: 15%;
      
  }

  .hiking, .hiking div {
     width: 80px;
    height:  80px;

  }

  #hiddendiv {
  margin-top: 9%;
  height: 20%;
}

  .aboutcoar h1 {
    font-size: 2.5em;
    margin-left: 12%;
    margin-top: 3%;
  }

  #longdescription {
    position: relative;
    font-size: 1.3em;
    margin-top: 8%;
    margin-left: 8%;
    left: 0;
    padding-bottom:3%;

  }

    .diamond .diam1 img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.COARtext {
  display: none;
}

.wrapper {
  font-size:.8em;
}

}

@media (max-width: 539px) {
  .polaroid {
  width: 100px;
  height: 130px;

}

.polaroid-img {
  width: 80px;
  height: 110px;

  }

  .polaroidcontainer {
    min-height:350px;
  }

  #hiddendiv {
    margin-top:10%;
    font-size: .77em;
  }

  .contactinfo img {
  width:180px;
  height:150px;

}
}

@media (max-width: 535px) {
#hiddendiv {
  height: 18%;
}

#wrapper {
  width: 55%;
}

.contactinfo {
  height:200px;
  font-size: 1em;
  line-height:1.6em;
}

}


@media (max-width: 504px) {
  .contactinfo img {
    display:none;
  }

  #websitedesign {

    font-size:.85em;
  }
}



@media (max-width: 400px) {
#hiddendiv {
  height: 15%;
  margin-top:12%;
  font-size: .9rem;
}

#hidden {
  font-size: .4em;
}

.explore_route {
  height: 350px;
}

#hidden {
  display: inline-block;
}


#exploreheading {
  font-size: 2.6em;
}


.contactheading {
  font-size:.9em;
  height:1.2em;
}


.contacttext {

  font-size:.7em;

}


}





