body {
	width: 100%;
	height: 100%;
	font-size: 16px;
}

.container {
	width: 100%;
	height: auto;
	
}

.homeicon {
	position: absolute;
	right: 0;
	height: 55px;
	z-index: 1000;
	margin-right: 1%;
}
#home {
	right:0;
	position:absolute;
	color:white;
	margin-top:2%;
	margin-right:5%;
	font-size:1.2em;
	z-index:1000;
}
#meetleaders {
    font-size: 70px;
    font-weight:300;
}

.intro_text {
	width: 100%;
	height: 200px;
	background-color: #0F1742;
	text-align: center;
	color:white;
	box-sizing: border-box;
	margin-top:0%;
	padding-top: 2%;
	font-family: 'Lato',Helvetica,sans-serif;
}



.textbody {
	width: 100%;
	height: 100%;
	background-color: #F0F1EC;

}



}
#text {
	margin-top: 10%;


}

.counselor {
	padding-left:14%;
	margin-bottom:5%;
}

.generaltext {
	font-family: 'Lato',Helvetica,sans-serif;
	font-size: 1.2em;
}


#name {
	font-size: 80px;
    font-family: 'Lato',Helvetica,sans-serif;
    color: #0F1742;

}

#name:first-child{
	margin-top:5%;
}

.row {
	padding-bottom:5%;
}

#picture {
	height: 300px;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
    width: 350px;
}


.carousel {
	height:100%;
	width:100%;
}



#carousel-pic {
	max-width: 100%;
	position:relative;

}

.carousel-inner{
	height:740px;
	position: relative;

}

 .carousel-inner > .item > img
				  .carousel-inner > .item > a > img {
				      width: 100%;
				      height:auto;
				      margin: auto;
				  }


/* MEDIA QUERIES */

@media (max-width: 1181px) {
	.carousel-inner{
	height:100%;
	position: relative;


	}

}

@media (max-width: 1196px) {

	.christina #name{
   overflow: auto;
}


	}

	@media (max-width: 991px) {

	#picture {
	height: 400px;
    width: 360px;
    border-radius: 100%;

    }
    #text #name {
		font-size: 100px;
	}

	#text .righttext{
		font-size: 1.2em;
	}

	#text .lefttext{
		font-size: 1.2em;
	}

	#text #name {
		font-size: 100px;
	}



	}

	@media (max-width: 766px) {

	#text .righttext{
		width: 50%;
	}

	#text .lefttext{
		width: 50%;
	}


	}

	@media (max-width: 766px) {

	#meetleaders {
	font-size: 50px;
    margin-top: 10%;
	}

	.counselor #text {
		margin-left:2%;
	}


	}

	@media (max-width: 730px) {

	#text .righttext{
		font-size: 1.1em;
	}

	#text .lefttext{
		font-size: 1.1em;
	}

	#picture {
	height: 300px;
    width: 280px;
    border-radius: 100%;


}

	#text #name {
		font-size: 90px;
	}


	}



@media (max-width: 594px) {

#christina #text #name {
		font-size: 80px;
	}

}

@media (max-width: 594px) {

	#text .righttext{
		width: 100%;

	}

	#text .lefttext{
		width: 100%;

	}
	

#zach #picture {
		margin-top: 0;
	}

#brady #picture {
		margin-top: 0;
	}

#joe #picture {
		margin-top: 0;
	}
}


@media (max-width: 594px) {
	#text #name { 
		float: left;

}

#linda #name {
	position: absolute;
}

#linda #picture {
	margin-top: 25%;
}
}






